<!DOCTYPE html>
<html ng-app="quiz">
<head>
    <meta charset="UTF-8">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
  <script src="js/quiz.js"></script>
  <link rel="stylesheet" href="css/index.css">
  <title>Quiz</title>
</head>
<body ng-controller="quizController">
  <div class="container">
    <div class="shadow-lg p-3 mb-5 mt-5 bg-body rounded">
      <div class="mt-3 d-flex justify-content-center">
        <img src="/image/java_icon.svg" alt="Java" width="100" height="100">
      </div>
      <div class=" mt-3">
        <div ng-show="!isResultGot()">
          <h3 class="text-center text-wrap"><span class="border-bottom border-2 px-5">{{quiz[i].theme}}</span></h3>
          <h5 class="text-center mt-3 mb-3">{{quiz[i].question}}</h5>
          <div class="form-container d-flex flex-column justify-content-center" >
            <div class="form-check mt-1" ng-repeat="a in quiz[i].answers">
              <input class="form-check-input" name="checked" value="{{a}}" type="checkbox" id="flexCheck{{quiz[i].id}}">
              <label class="form-check-label" for="flexCheck{{quiz[i].id}}">
                {{a}}
              </label>
            </div>
          </div>
      </div>
        <div class="result" ng-show="isResultGot()">
          <p class="text-center fs-4 fw-semibold">
            <span>You answered {{result.correctAnswers}} out of {{result.totalQuestion}} questions.</span>
          </p>
          <div class="text-center fw-normal fs-5">Recommended topics for study</div>
          <div class="d-flex justify-content-center">
            <div ng-repeat="t in result.themes">
              <p class="p-2 fw-normal fs-5"><span>{{t}}</span></p>
            </div>
          </div>
        </div>
      </div>
        <div class="d-flex justify-content-center">
          <div class="d-flex position-relative">
<!--            <img class="cat" src="image/cat_icon.svg" width="50" height="50">-->
            <button id="btn" type="button" class="btn btn-info mt-5 mb-5 px-5 fs-4" ng-click="nextQuestion(i)">Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>


</body>
</html>